<h1>Panel de control</h1>

<%= link_to('Salir', destroy_user_session_path, method: :delete, class: 'btn btn-primary pull-right') %>

<ul>
  <li><%= link_to 'Categorias', manager_categories_path %></li>
</ul>