<div align="center" class="container infoGreen" style="width: 100%">
  <h1>Usuarios</h1>
</div>

<%= render 'form', user: @user %>

<%#%= link_to 'Show', @user %>
<div align="center">
<%= link_to 'Atrás' , :back, class: 'btn9 editar', style: 'color: white; text-decoration: none'%>

</div>