<div align="center" class="container infoGrape" style="width: 100%">
  <h1>Imágenes Rotativas</h1>
</div>

<%= render 'form', rotating_image: @rotating_image %>

<div align="center">
<%= link_to 'Atrás' , manager_root_url, class: 'btn9 editar', style: 'color: white; text-decoration: none'%>
</div>