<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>¡Hola!</p>
<p>
  Gracias por contactarse con Urbanización Terranova. Tan pronto como sea posible uno de nuestros operadores se
  contactará con usted al número que nos facilitó.
</p>
<p>
  Cualquier pregunta o sugerencia no dude en escribirnos a esta misma dirección de correo.
</p>
<p>
  ¡Muchas gracias!
</p>
</body>
</html>