.btn9 {
    border: none;
    color: white;
    padding: 10px 22px;
    font-size: 16px;
    cursor: pointer;
}

.normal {
    background-color: #4CAF50;
    padding: 7px 20px;
}

/* Green */
.normal:hover {
    background-color: #46a049;
    padding: 12px 22px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.info {
    background-color: #2196F3;
    color: white
}

.info:hover {
    background: #0b7dda;
    padding: 14px 22px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.editar {
    background-color: #216288;
    color: white;
    padding: 7px 20px;
}

.normal:hover {
    background-color: #185e87;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.salir {
    background-color: #ff9800;
}

/* Orange */
.salir:hover {
    background: #e68a00;
    padding: 14px 22px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.borrar {
    background-color: #f44336;
    padding: 7px 20px;
}

/* Red */
.borrar:hover {
    background: #da190b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*.tab9{
    border: none;
    color: black;
    background-color: #216288;
    padding: 10px 22px;
    font-size: 16px;
    cursor: pointer;
}*/