.btn9 {
    border: none;
    color: white;
    padding: 10px 22px;
    font-size: 16px;
    cursor: pointer;
}

.normal {
    background-color: #4CAF50;
    padding: 7px 20px;
}

/* Green */
.normal:hover {
    background-color: #46a049;
    padding: 12px 22px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.info {
    background-color: #2196F3;
    color: white
}

.info:hover {
    background: #0b7dda;
    padding: 12px 22px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.editar {
    background-color: #216288;
    color: white;
    padding: 7px 20px;
}

.editar:hover {
    background: #0b7dda;
    padding: 12px 22px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.salir {
    border-radius: 15px;
    background-color: #ff9800;
}

/* Orange */
.salir:hover {
    background: #e68a00;
    padding: 14px 22px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.borrar {
    background-color: #f44336;
    padding: 7px 20px;
}

/* Red */
.borrar:hover {
    background: #da190b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*.tab9{
    border: none;
    color: black;
    background-color: #216288;
    padding: 10px 22px;
    font-size: 16px;
    cursor: pointer;
}*/

/*NOTES*/
.infoNote {
    background-color: #3380cc;
    color: white;
    border-left: 10px solid #216288;
}

.infoGreen{
    background-color: #009688;
    color: white;
    border-left: 10px solid #4CAF50;
}

.infoGrape{
    background-color: #8033cc;
    color: white;
    border-left: 10px solid #8000ff;
}

.infoOrange{
    background-color: #f2800d;
    color: white;
    border-left: 10px solid #ff8000;
}

.divLogin{
    max-width: 1800px;
    align-conten1t: center;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 3px solid #305A72;
}

.alinearIzq{
    margin-left: 200px;
}

/*azul saturado 3380cc  azul info 0080ff*/
