<div align="center" class="container infoNote" style="width: 100%">
  <h1>Categorías</h1>
</div>

<%= render 'form', category: @category %>

<%#=<%= link_to 'Show', manager_categories_path(@category) %>
<div align="center">
  <%= link_to 'Atrás' , :back, class: 'btn9 editar', style: 'color: white; text-decoration: none'%>
</div>